/*Estilos Main */
body{
    margin: $margin-body;
}
.contenedor{
    background-color: $background-white;
}

button :active{
background-color: rgb(68, 62, 62) !important;
}

#titulos-pag{
    font-size: $font-titulos;
}