$estilos: (
    colorPrimario: red,
    colorSecundario: blue,
    paddingUno: 10px,
    paddingDos: 20px,
    paddingTres: 30px,
    borderRadiusUno: 5px,
    borderRadiusDos: 10px,
    displayFlex: flex,
    flexColumn: column,
    flexRow: row,
)